<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.scau.tijian.mapper.OrderMapper">

<!--    List<Orders> listOrdersByUserByState(Orders orders);-->
    <select id="listOrdersByUserByState" parameterType="Orders" resultMap="ordersAndSetmeal">
        SELECT *
        FROM orders
        WHERE userId=#{userId}
        ORDER BY orderDate DESC
    </select>

    <resultMap id="ordersAndSetmeal" type="Orders">
        <id column="orderId" property="orderId"/>
        <result column="orderDate" property="orderDate"/>
        <result column="userId" property="userId"/>
        <result column="hpId" property="hpId"/>
        <result column="smId" property="smId"/>
        <result column="state" property="state"/>
        <association property="setmeal" column="smId" javaType="Setmeal"
        select="edu.scau.tijian.mapper.SetmealMapper.getSetmealBySmId"></association>
    </resultMap>

	<select id="listOrdersAppointmentNumber" parameterType="OrdersMapperDto" resultType="CalendarResponseDto">
	    <foreach collection="list" item="dto" separator="union">
	        SELECT #{dto.date} ymd, COUNT(*) existing
            FROM orders
            WHERE orderDate=#{dto.date} and hpId=#{dto.hpId}
	    </foreach>
	</select>
	
	<resultMap type="Orders" id="ordersResultMap">
        <id column="orderId" property="orderId"/>
        <result column="orderDate" property="orderDate"/>
        <result column="userId" property="userId"/>
        <result column="hpId" property="hpId"/>
        <result column="smId" property="smId"/>
        <result column="state" property="state"/>
        <association property="setmeal" javaType="Setmeal"
            select="com.neusoft.tijian.mapper.SetmealMapper.getSetmealById" column="smId"></association>
        <association property="hospital" javaType="Hospital"
            select="com.neusoft.tijian.mapper.HospitalMapper.getHospitalById" column="hpId"></association>    
    </resultMap>
	
	<select id="listOrdersByUserId" parameterType="Orders" resultMap="ordersResultMap">
	    select * from orders where userId=#{userId} and state=#{state} order by orderId desc
	</select>
</mapper>    